version: '3.9'

services:
  zabbix-server:
    image: zabbix/zabbix-server-pgsql:latest
    container_name: zabbix-server
    restart: unless-stopped
    environment:
      - DB_SERVER_HOST=zabbix-db
      - DB_SERVER_PORT=5432
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - ZBX_STARTVMWARECOLLECTORS=1
      - ZBX_ENABLE_SNMP_TRAPS=true
    ports:
      - 10051:10051
    networks:
      - default
    depends_on:
      - zabbix-db
    volumes:
      - ./zabbix-server-data:/var/lib/zabbix
      - ./snmptraps:/var/lib/zabbix/snmptraps:ro

  zabbix-db:
    image: postgres:13
    container_name: zabbix-db
    restart: unless-stopped
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    volumes:
      - ./postgres-data:/var/lib/postgresql/data
    networks:
      - default

  zabbix-web:
    image: zabbix/zabbix-web-nginx-pgsql:latest
    container_name: zabbix-web
    restart: unless-stopped
    environment:
      - ZBX_SERVER_HOST=zabbix-server
      - DB_SERVER_HOST=zabbix-db
      - DB_SERVER_PORT=5432
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - PHP_TZ=Asia/Almaty
    ports:
      - 8080:8080
    networks:
      - default
    depends_on:
      - zabbix-server
      - zabbix-db
      
  zabbix-agent:
    image: zabbix/zabbix-agent:alpine-6.4-latest
    ports:
      - "10050:10050"
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
      - ./zbx_env/etc/zabbix/zabbix_agentd.d:/etc/zabbix/zabbix_agentd.d:ro
    deploy:
      resources:
        limits:
          cpus: '0.2'
          memory: 128M
        reservations:
          cpus: '0.1'
          memory: 64M
      mode: global
    privileged: true
    pid: "host"
    restart: unless-stopped
    env_file:
      - ./zabbix_agent.env
    networks:
      default:
        aliases:
          - zabbix-agent
          - zabbix-agent-passive
          - zabbix-agent-alpine
    stop_grace_period: 5s
    labels:
      com.zabbix.description: "Zabbix agent"
      com.zabbix.company: "Zabbix LLC"
      com.zabbix.component: "zabbix-agentd"
      com.zabbix.os: "alpine"

networks:
  default:
    ipam:
      driver: default
      config:
        - subnet: 172.28.0.0/16
